/* Colors */
:root {
  --primaryMagenta: hsl(300, 43%, 22%);
  --primaryPink: hsl(333, 80%, 67%);
  --neutralDarkMagenta: hsl(303, 10%, 53%);
  --neutralLightMagenta: hsl(300, 24%, 96%);
  --neutralWhite: hsl(0, 0%, 100%);
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  line-height: 1.3rem;
}
.container {
  width: 75vw;
  height: 80vh;
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-self: center;
  grid-template: 60% 40% / 1fr 0.46fr 0.46fr 1fr;
  grid-template-areas:
    'header header ratings ratings'
    'review-1 review-2 review-2 review-3';
  gap: 1.8rem 1.15rem;
}
/* ---------------------------- */
/* Background Pattern */
.bg-mobile-top,
.bg-mobile-bottom {
  display: none;
}
.bg-desktop-top,
.bg-desktop-bottom {
  position: fixed;
  z-index: -1;
}
.bg-desktop-top {
  transform: translateX(2%);
}
.bg-desktop-bottom {
  height: 100vh;
  width: 80vw;
  transform: translate(26%, 14%);
}
/* ---------------------------- */
/* Header */
header {
  grid-area: header;
  align-self: center;
}
header h1 {
  color: var(--primaryMagenta);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  margin-bottom: 1rem;
  letter-spacing: -2px;
  padding-right: 5rem;
  width: 12em;
}
header p {
  line-height: 1.53rem;
  padding-right: 5rem;
  font-weight: 400;
  letter-spacing: -0.8px;
  width: 33em;
}
/* ---------------------------- */
/* Ratings */
.ratings {
  display: flex;
  flex-direction: column;
  grid-area: ratings;
  align-self: center;
}
.rating {
  display: flex;
  align-self: flex-end;
  width: 28rem;
  background-color: var(--neutralLightMagenta);
  border-radius: 9px;
  padding: 1.1rem 1.2rem 1.1rem 2rem;
  white-space: nowrap;
}
.rating:not(:last-child) {
  margin-bottom: 1rem;
}
.rating-stars {
  margin-right: 1.8rem;
  transform: translateY(2px);
}
.rating-stars img {
  margin-right: 3px;
}
.rating-1 {
  transform: translateX(-6rem);
}
.rating-2 {
  transform: translateX(-3rem);
}
/* ---------------------------- */
/* Reviews */
.review-1,
.review-2,
.review-3 {
  display: flex;
  height: 94%;
  width: 97%;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.8rem 0 1.8rem;
  background-color: var(--primaryMagenta);
  border-radius: 7px;
}
.review-1 {
  grid-area: review-1;
  transform: translateY(-2rem);
}
.review-2 {
  grid-area: review-2;
  transform: translateY(-1rem);
}
.review-3 {
  grid-area: review-3;
}
.review-header {
  display: flex;
  margin-bottom: -1rem;
  transform: translateX(-1.4rem);
}
.review-header img {
  border-radius: 50%;
  transform: translateY(-1.3rem) scale(0.46);
}
.review-name {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.name {
  color: var(--neutralWhite);
  font-weight: 500;
}
.subtitle {
  color: var(--neutralDarkMagenta);
  font-weight: 400;
}
.review-quote {
  font-size: 12px;
  color: var(--neutralWhite);
}
/* ---------------------------- */
/* Media Queries */
@media only screen and (max-width: 1265px) {
  .rating {
    width: 22rem;
  }
  .rating h5 {
    font-size: 10px;
  }
  .review-quote {
    line-height: 14px;
  }
}
@media only screen and (max-width: 1065px) {
  .rating-1 {
    transform: translateX(0);
  }
  .rating-2 {
    transform: translateX(0);
  }
  .rating {
    width: 16rem;
    white-space: initial;
  }
  .subtitle {
    display: none;
  }
  .review-name {
    transform: translateY(1rem);
  }
  .review-header img {
    transform: translateY(-1rem) scale(0.46);
  }
}
@media only screen and (max-width: 888px) {
  .review-header img {
    transform: translateY(-0.3rem) scale(0.46);
  }
  .review-quote {
    line-height: 12px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 804px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  /* Header */
  header {
    grid-area: header;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header h1 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    padding-right: initial;
    width: 70%;
    text-align: center;
    align-self: center;
    line-height: 30px;
  }
  header p {
    padding-right: initial;
    text-align: center;
    align-self: center;
    width: 100%;
  }
  /* Ratings */
  .ratings {
    width: 100%;
    margin-bottom: 3rem;
  }
  .rating {
    width: 100%;
  }
  /* Reviews */
  .review-1,
  .review-2,
  .review-3 {
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: -1.5rem;
    padding: 1rem 1.8rem 2rem 1.8rem;
  }
  .review-header {
    margin-bottom: 0.2rem;
  }
  .review-header img {
    transform: translateY(-0.3rem) scale(0.46);
  }
  .subtitle {
    display: initial;
  }
  .review-quote {
    line-height: initial;
    font-size: 12px;
  }
}
@media only screen and (max-width: 470px) {
  .container {
    width: 88vw;
  }
  .rating {
    flex-direction: column;
    place-items: center;
  }
  .rating-stars {
    margin-right: initial;
    margin-bottom: 0.2rem;
  }
  .rating-stars img {
    margin-right: initial;
  }
}

/* Background Pattern */
@media only screen and (max-width: 375px) {
  .bg-desktop-top,
  .bg-desktop-bottom {
    display: none;
  }
  .bg-mobile-top,
  .bg-mobile-bottom {
    position: fixed;
    z-index: -1;
  }
}
